<div class="block_contenedor_vistas_basico_default">
	<div{{ attributes }}>
	  {{ title_prefix }}
	  {% if label %}
	    <h2{{ title_attributes }}>{{ label }}</h2>
	  {% endif %}
	  {{ title_suffix }}
	  {% block content %}
	    {{ content }}
	  {% endblock %}
	</div>
</div>

