{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes }}>
    {% set num = 0 %}
      {% for item in items %}
        {% set num =  num + 1 %}
        <div{{ item.attributes }}>{{num}}.- {{ item.content }}.</div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes }}>
   <div class="etiqueta"><div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div></div> 
    {% if multiple %}
      <div>
    {% endif %}
    {% for item in items %}
    <div class="contenido_del_campo"> <div{{ item.attributes }}>{{ item.content }}</div> </div> 
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
