<div class="node_elemento_del_marco_normativo_full">
  <div class="header">
      <div class="title">
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </div> 
  </div>
  <div class="body">
    <div class="image_fields">
      <div class="image">
          {{ content.field_image }}
      </div>
      <div class="fields">
         <div class="descripcion">
                 {{ content.body }}
          </div>
     </div>
    </div>
  </div>
  <div class="footer">
  	  <div class="documentos">
            {{ content.field_documentos }}
      </div>
      <div class="social">
        {{ content.addtoany }}
      </div> 
  </div>
</div>