<div class="page_node">
  <div class="contenedor_de_region_cabecera">
    {{ page.cabecera}}
  </div>
  <div class="contenedor_de_region_cabecera_movil">
  {{ page.cabecera_movil}}
  </div>
  <div class="contenedor_de_region_contenido">
  	{{ page.content}}
  </div>
  <div class="contenedor_de_region_de_vistas_basico">
    {{ page.contenedor_de_vistas_basico}}
  </div>
   <div class="contenedor_de_region_de_vistas_flexible">
    {{ page.contenedor_de_vistas_flexible}}
  </div>
  <div class="contenedor_de_region_de_pie_de_pagina">
    {{ page.pie_de_pagina}}
    <div class="sub_pie_de_pagina">
    	<p>© Sistema de Administración de Informacíón Pública</p>
    </div>
  </div>
</div>