<div class="contenedor_de_region_cabecera">
  {{ page.cabecera}}
</div>
<div class="contenedor_de_region_cabecera_movil">
  {{ page.cabecera_movil}}
</div>
<div class="contenedor_de_region_mapa_principal">
  {{ page.mapa_principal}}
  <div class="contenedor_de_region_fotografia_de_perfil">
  		{{ page.fotografia_de_perfil}}
	</div>
</div>
<div class="contenedor_de_region_marca_del_sitio">
  {{ page.marca_del_sitio}}
</div>
<div class="contenedor_de_region_totales_financieros">
      {{ page.totales_financieros}}
</div>
<div class="contenedor_de_region_menu_principal">
  {{ page.menu_principal}}
</div>
<div class="contenedor_de_region_contenido">
	<div class="region_barra_lateral_izquierda">
		{{ page.barra_lateral_izquierda}}
	</div>
	<div class="region_contenido">
		{{ page.content}}
	</div>
	<div class="region_barra_lateral_derecha">
		{{ page.barra_lateral_derecha}}
	</div>
</div>
<div class="contenedor_de_region_de_pie_de_pagina">
  {{ page.pie_de_pagina}}
  <div class="sub_pie_de_pagina">
  	<p> © Sistema de Administración de Informacíón Pública</p>
  </div>
</div>