<div class="page_gaceta_municipal">
  <div class="contenedor_de_region_cabecera">
    {{ page.cabecera}}
  </div>
  <div class="contenedor_central">
    <div class="contenedor_de_region_barra_lateral_izquierda">
      {{ page.barra_lateral_izquierda}}
    </div>
    <div class="contenedor_de_region_contenido">
      {{ page.content}}
    </div>
    <div class="contenedor_de_region_barra_lateral_derecha">
      {{ page.barra_lateral_derecha}}
    </div>
  </div>
  <div class="contenedor_de_region_de_pie_de_pagina">
    {{ page.pie_de_pagina}}
    <div class="sub_pie_de_pagina">
    	<p>© Sistema de Administración de Informacíón Pública</p>
    </div>
  </div>
</div>